version: '3.8'

services:
  # MongoDB for Pet Stores (2 collections: store1, store2)
  mongodb-stores:
    image: mongo:7.0
    container_name: mongodb-stores
    ports:
      - "27018:27017"
    expose:
      - 27017
    networks:
      - petstore-network
    restart: always

      
  # MongoDB for Transactions (1 collection: transactions)
  mongodb-transactions:
    image: mongo:7.0
    container_name: mongodb-transactions
    ports:
      - "27019:27017"
    expose:
      - 27017
    networks:
      - petstore-network
    restart: always

  # Pet Store Instance 1
  pet-store1:
    build: ./pet-store
    container_name: pet-store1
    ports:
      - "5001:8000"
    expose:
      - 8000
    environment:
      - MONGO_URI=mongodb://mongodb-stores:27017/pet_store
      - STORE_ID=1
      - OWNER_PASSWORD=LovesPetsL2M3n4
    volumes:
      - pet-images-store1:/app/pictures
    networks:
      - petstore-network
    depends_on:
      - mongodb-stores
    restart: always

  # Pet Store Instance 2
  pet-store2:
    build: ./pet-store
    container_name: pet-store2
    ports:
      - "5002:8000"
    expose:
      - 8000
    environment:
      - MONGO_URI=mongodb://mongodb-stores:27017/pet_store
      - STORE_ID=2
      - OWNER_PASSWORD=LovesPetsL2M3n4
    volumes:
      - pet-images-store2:/app/pictures
    networks:
      - petstore-network
    depends_on:
      - mongodb-stores
    restart: always

  # Pet Order
  pet-order:
    build: ./pet-order
    container_name: pet-order
    ports:
      - "5003:8080"
    expose:
      - 8080
    environment:
      - OWNER_PASSWORD=LovesPetsL2M3n4
      - MONGO_URI=mongodb://mongodb-transactions:27017/pet_store
    networks:
      - petstore-network
    depends_on:
      - mongodb-transactions
      - pet-store1
      - pet-store2
    restart: always



volumes:
  pet-images-store1:
  pet-images-store2:

networks:
  petstore-network:
    driver: bridge
